

/**tool bar */
#window-close {
    
-fx-background-color: null;
   
-fx-background-image: url("images/window-close.png");
    
-fx-background-repeat: no-repeat;
}

#window-min {
    
-fx-background-color: null;
    
-fx-background-image: url("images/window-min.png");
    
-fx-background-repeat: no-repeat;
}

#window-max {
    
-fx-background-color: null;
    
-fx-background-image: url("images/window-max.png");
    
-fx-background-repeat:  stretch 
}

#window-close:hover {
    -fx-background-image: url("images/window-close-over.png");
}

#window-min:hover {
    -fx-background-image: url("images/window-min-over.png");
}

#window-max:hover {
    -fx-background-image: url("images/window-max-over.png");
}

#tool-bar-background{
	
-fx-background-color: #99BBFF;}

/** login page */

#login-background{
	
-fx-background-image: url("images/login_background.jpg");
	
-fx-background-repeat:no-repeat;
	
-fx-background-size:cover;
}

#login-pane-background{
	
-fx-background-color: #4D4DFF;
}